
    <meta charset="UTF-8">
    <title>First Speech API</title>
    <link rel="stylesheet" href="/speech/style.css">


    <div class="container">
        <h1>First Google Speech API test</h1>
        <input type="text" name="text-speech">
        <textarea name="final-text-speech" id="" cols="30" rows="10"></textarea>
        <input type="submit" name="start-stop-speech" value="Start">
    </div>

<script src="/speech/speechAPI.js"></script>
